<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="utf-8"><br>
		<title> Head's Evaluation Form </title>

		<link rel="stylesheet" href="style7.css">
	</head>
	<body>
		<div class="container">
      <h1><strong>IRB 7</strong></h1> <br>
      <h5>HEAD OF INSTITUTION EVALUATION FORM</h5>
      </div> <br>
    <form method="POST" action="/irb7/submit">
      <div class="form-group">
        <label>Intern's general performance</label> <br>
          <textarea placeholder="Please state intern's performance here!" required name="q1" ></textarea>
         </div> <br>

  <div class="form-group">
    <label>Mentor's performance:</label><br>
    <textarea placeholder="Please write mentor's performance here!" required name="q2"></textarea>
   </div> <br>

    <div class="form-group">
      <label>Overall evaluation of the programme:</label><br>
      <textarea placeholder="Please state evaluations here!" required name="q3"></textarea>
     </div> <br>


      <div class="form-group">
        <label>Any other suggestions:</label><br>
        <textarea placeholder=" Please if any, state it here!" required name="q4"></textarea>
       </div> <br>

      <div class="submitbtn">
        <button class="btn" type="Submit" >Submit</button>
      </div>
        </form>


	</div>
	</body>
</html>
